<!DOCTYPE html>
<html>
<head>
    <title>Add Room</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='hotel-luxury.css') }}">
</head>
<body>

<div class="container mt-5">
    <h2>Add Room</h2>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
    <label>Room Image</label>
    <input type="file" name="image">
</div>


        <div class="mb-3">
            <label>Room Number</label>
            <input type="text" name="room_number" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Room Type</label>
            <input type="text" name="room_type" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Price</label>
            <input type="number" name="price" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Room Image</label>
            <input type="file" name="image" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Add Room</button>
        <a href="/view-rooms" class="btn btn-secondary">Back</a>

    </form>
</div>

</body>
</html>
